
body{
	margin:none;
}


p{
	padding:2%;
	text-indent:1cm;

}


header{
	height:450px;
	background:pink;
	background-image: url("kuma.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: fixed;
}
.box1{
	height:259px;
	width:22%;
	float:left;
	margin-top:4%;
	margin-left:3%;
	margin-right:2%;
	background:violet;
	border-radius:50%;

}
.box2{
	height:259px;
	width:22%;
	float:left;
	margin-top:4%;
	margin-right:2%;
	background:violet;
	border-radius:50%;
}
.box3{
	height:259px;
	width:22%;
	float:left;
	margin-top:4%;
	margin-right:2%;
	background:violet;
	border-radius:50%;
}
.box4{
	height:259px;
	width:22%;
	float:left;
	margin-top:4%;
	margin-right:3%;
	background:violet;
	border-radius:50%;
}

.boxA{
	height:60px;
	width:22%;
	float:left;
	margin-left:3%;
	margin-bottom:4%;
	background-color:pink;

}
.boxB{
	height:60px;
	width:22%;
	float:left;
	margin-left:2%;
	margin-bottom:4%;
	background-color:pink;
}
.boxC{
	height:60px;
	width:22%;
	float:left;
	margin-left:2%;
	margin-bottom:4%;
	background-color:pink;
}
.boxD{
	height:60px;
	width:22%;
	float:left;
	margin-right:3%;
	margin-left:2%;
	margin-bottom:4%;
	background-color:pink;
}

footer{

	clear:both;
	height:225px;
	background-color:pink;

}
